Census1990/USCensus1990-desc.html
Census1990/USCensus1990-task.html
Census1990/USCensus1990.attributes.txt
Census1990/USCensus1990.data.txt
Census1990/USCensus1990.data.txt.sample
Census1990/USCensus1990.html
Census1990/USCensus1990.mapping.sql
Census1990/USCensus1990.readme.txt
Census1990/USCensus1990.task.txt

Iris/bezdekIris.data
Iris/iris.data
Iris/iris.names

LIBRAS/movement_libras.data
