data/Census1990/USCensus1990-desc.html
data/Census1990/USCensus1990-task.html
data/Census1990/USCensus1990.attributes.txt
data/Census1990/USCensus1990.data.txt
data/Census1990/USCensus1990.data.txt.sample
data/Census1990/USCensus1990.html
data/Census1990/USCensus1990.mapping.sql
data/Census1990/USCensus1990.readme.txt
data/Census1990/USCensus1990.task.txt

data/CMC/cmc.data

data/Iris/bezdekIris.data
data/Iris/iris.data
data/Iris/iris.names

data/LIBRAS/movement_libras.data
